body {margin:0;padding:126px 8px 52px;font:normal 14px/1.4 'Roboto', arial, helvetica;color:#616161;background:#EDEDED;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

/* General */
::-webkit-input-placeholder {color:#A9A9A9}
:-moz-placeholder {color:#A9A9A9}
::-moz-placeholder {color:#A9A9A9}
:-ms-input-placeholder {color:#A9A9A9}

input[type=text],
textarea{border:0;box-sizing:border-box;font:normal 16px/1.4 'Roboto', arial, helvetica;outline:none;
	background:transparent;color:#A9A9A9;width:100%;display:inline-block;}
textarea{resize:vertical;height:162px;}
input[type=text]:focus,
textarea:focus{background:#f5f5f5}
label{position:absolute;top:0;left:0;font-size:16px;color:#ccc;padding:16px;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
a{text-decoration:none}
ul, li {margin:0;padding:0;list-style:none}

.float-right{float:right}
.cursor-handle{cursor:move}
.pos-rel{position:relative}
.mobile-hidden{display:none!important;}


/* Buttons */
.material-icons.button-raised{width:54px;height:54px;line-height:54px;background:#FF4081;color:#fff;border-radius:50%;z-index:110;
	box-shadow:0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);text-align:center;position:fixed;right:8px;top:90px;
	-webkit-transition:all 150ms;transition:all 150ms}
.overlay--visible ~ .button-raised {-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.button{text-transform:uppercase;font:500 14px/1.4 'Roboto', arial, helvetica;color:#000;padding:0 10px;line-height:36px;
	display:inline-block;border-radius:3px;background:none;border:0;outline:none}
.button:hover,
.button.hover{background:rgba(158,158,158,.2)}
.button:active,
.button.active{background:rgba(158,158,158,.4)}
.material-icons.button{display:inline-block;padding:10px;font-size:16px;color:#000;vertical-align:middle;}


/* Overlays */
.overlay{position:fixed;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background:rgba(63, 81, 181, 0.95);z-index:100;display:none}
.overlay--visible{display:block}
.new{position:absolute;top:170px;left:8px;right:8px;background:#fff;font-size:0}
.field{position:relative;overflow:hidden;}


/* Forms */
.new__title,
.new__description{padding:16px}
.new__title:valid + label,
.new__description:valid + label{display:none}
.overlay .button{width:100%;border-radius:0;line-height:54px;}


/* Copy Notices */
.clipboard-notice{display:none;position:fixed;bottom:8px;left:50%;transform:translateX(-50%);padding:0 15px;line-height:36px;background:#8BC34A;color:#fff;border-radius:5px;}
.clipboard-notice--fail {background:#FF4081}


/* Header */
header {position:fixed;top:0;left:0;right:0;padding:36px 8px;background:#3F51B5;z-index:10}

header ::-webkit-input-placeholder {color:#fff;font-weight:300;}
header :-moz-placeholder {color:#fff;font-weight:300;}
header ::-moz-placeholder {color:#fff;font-weight:300;}
header :-ms-input-placeholder {color:#fff;font-weight:300;}

#search {font-size:32px;color:#fff}
#search:focus {box-shadow:0 2px 0 #fff;background:none}


/* Tables */
table{width:100%;border-collapse:collapse;margin-top:36px;table-layout:fixed;}

.dummy-single-action{width:36px;}
.dummy-actions{width:52px;}
.dummy-item{width:25%;}
.dummy-definition{width:100%}

thead{font-size:22px;font-weight:400;text-align:left;color:#000}
thead .button {color:#FF4081}
thead strong{font-weight:500;display:inline-block;padding:0 10px;white-space:nowrap;overflow:hidden;width:100%;box-sizing:border-box;
text-overflow:ellipsis;vertical-align:bottom;}

tbody:empty:before {content:'Nothing to see here...yet!';font-style:italic;color:rgba(0,0,0,.3);display:block;background:#EDEDED;
line-height:47px;white-space:nowrap;margin-left:12px;}
tbody td{padding:14px 8px;box-shadow:inset 0 1px 0 #eee;background:#fff;}
tbody td:first-child{border-left:1px solid #dedede;padding-left:16px}
tbody td:last-child{border-right:1px solid #dedede}
tbody tr:last-child td{box-shadow:inset 0 1px 0 #dedede, inset 0 -1px 0 #dedede;}

.item--hidden{display:none}
.item__description {width:25%;overflow:hidden;text-overflow:ellipsis;-webkit-user-select:initial;-moz-user-select:initial;-ms-user-select:initial;user-select:initial;}
.item__clipboard-copy{padding:0;width:36px;}
.item__definition {width:100%;white-space:pre-wrap;-webkit-user-select:initial;-moz-user-select:initial;-ms-user-select:initial;user-select:initial;}
.item__definition a {color:#3F51B5;font-weight:500;word-break:break-word}
.item__actions{text-align:center;padding:6px 8px;width:72px;white-space:nowrap}

.ui-sortable-placeholder {visibility:visible!important}
.ui-sortable-placeholder td{background:#FF4081}
.ui-sortable-helper td{border-right:0!important}
table.ui-sortable-helper{opacity:.1}


/*Menu*/
.menu{position:absolute;opacity:0;overflow:hidden;z-index:10;right:0;top:16px;background:#fff;font-family:Roboto;font-size:14px;text-align:left;border-radius:3px;
  -webkit-transition:all 280ms cubic-bezier(.4,0,.2,1);transition:all 280ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}
.menu--active{opacity:1;top:0;}
.menu li{cursor:pointer;padding:0 16px 0 0;}
.menu li:hover{background:rgba(158,158,158,.2)}
.menu .button:hover, .menu .button.hover{background:none}

@media (min-width: 768px){
  body,
  header{padding-left:16px;padding-right:16px}
  .material-icons.button-raised{right:16px}
  .new{left:16px;right:16px;}
  .mobile-hidden{display:initial!important}
  .dummy-actions{width:94px;}
}
@media (min-width: 1200px){
  body,
  header{padding-left:36px;padding-right:36px}
  .material-icons.button-raised{right:36px}
  .new{left:36px;right:36px;}
}
